.button {
    cursor: pointer;
    color: var(--primary-color);
    border: none;
    padding: 8px 16px;
}

.clear {
    padding: 0;
    background-color: transparent;
}

.outlined {
    border: 1px solid var(--primary-color);
}

.background {
    background: var(--background-color);
}

.backgroundInverted {
    background: var(--inverted-background-color);
    color: var(--inverted-primary-color);
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXL {
    font: var(--font-xl);
}

.square {
    padding: 0;

    &.sizeM {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.sizeL {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.sizeXL {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}
