.app.dark {
    --background-color: #1114db;
    --inverted-background-color: #a5a4a4;
    --primary-color: #08ce4d;
    --secondary-color: #77dd62;
    --inverted-primary-color: #0808ce;
    --inverted-secondary-color: #2b2bd8;
}
