.app.normal {
  --background-color: #a5a4a4;
  --inverted-background-color: #1114db;

  --primary-color: #0808ce;
  --secondary-color: #2b2bd8;
  --inverted-primary-color: #08ce4d;
  --inverted-secondary-color: #77dd62;
}