name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install-cache:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: cache node_modules
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
      - name: install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

  lint-ts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    needs: install-cache
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: restore  dependencies
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-deps-
      - name: run lint typescript
        run: npm run lint:ts

  lint-scss:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    needs: install-cache
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: restore  dependencies
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-deps-
      - name: run lint scss
        run: npm run lint:scss

  test-unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    needs: install-cache
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: restore  dependencies
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-deps-
      - name: run test unit
        run: npm run test:unit

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    needs: [install-cache, lint-ts, lint-scss, test-unit]
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: restore  dependencies
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-deps-
      - name: run build
        run: npm run build:prod

  test-ui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    needs: [install-cache, lint-ts, lint-scss, test-unit, build]
    steps:
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: checkout branch
        uses: actions/checkout@v3
      - name: restore  dependencies
        uses: actions/cache@v3
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-deps-
      - name: run build storybook
        run: npm run storybook:build
      - name: run test ui
        run: npm run test:ui:ci